.App{
  width: 90%;
  margin: 0 auto;
}

.button{
  font-family: 'neue machina';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 127.52%;
  text-align: center;
  color: #E5E5E5;
  background: #222222;
  padding: 16px;
  margin-left: 20px;
  border: none;
  outline: none;

  cursor: pointer;
}
.button-two{
  background: none;
  color: #222222;
  border: 1px solid #222222;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.display-market{
/* height:80vh; */
color: #222222;
text-align: center;

}
