.hero-footer{
/* position: absolute; */
/* top: 620px; */
/* left: 7%; */

display: flex;
justify-content: space-between;
width: 90%;

/* margin: 0 auto; */
}

.hero-footer-image{
  height: 100px;
  width: 10px;
}

.footer-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-div p{
  margin-left: 20px;
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}

.footer-div img{
  width: 32px;
}